@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-info pt-2 pb-3" >Create a new account</h2>

<div class="row backgroundWhite border">
    <div class="col-md-8">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label asp-for="Input.Name"></label>
                    </div>
                    <div class="col-lg-8">
                        <input asp-for="Input.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label asp-for="Input.Email"></label>
                    </div>
                    <div class="col-lg-8">
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label asp-for="Input.Age"></label>
                    </div>
                    <div class="col-lg-8">
                        <input asp-for="Input.Age" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Age" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label asp-for="Input.Height"></label>
                    </div>
                    <div class="col-lg-8">
                        <input asp-for="Input.Height" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Height" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label asp-for="Input.Weight"></label>
                    </div>
                    <div class="col-lg-8">
                        <input asp-for="Input.Weight" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Weight" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label asp-for="Input.Password"></label>
                    </div>
                    <div class="col-lg-8">
                        <input asp-for="Input.Password" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label asp-for="Input.ConfirmPassword"></label>
                    </div>
                    <div class="col-lg-8">
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-success form-control">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
